
body{
    margin: 0;
    padding: 0;
}
.body_principal_add_usuario{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: green;
}
.contendor_formulario_usuario{
    width: 100%;
    height: 100%;
    background-image: url('../recursos/images/FONDO.jpg');
    display: flex;
    flex-wrap: wrap;
}
.columna_menu{
    width: 100px;
    height: 100vh;
    background-color: #2E465B;
}
.columna_menu button{
    background: none;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.imagen_button{
    width: 35px;
    height: auto;
    background: none;
   
}
.imagen_button_redes{
    width: 25px;
    height: auto;
    background: none;
}
.contendor_boton_avion{
    padding-top: 20px;
}
.contendor_boton_avion button{
    border: none;
    cursor: pointer;
}
.contendor_boton_redes{
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinea el contenido hacia abajo */

}
.contendor_boton_redes button{
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}
.contenedor_formulario_usuario{
    width: 75%;
    height: 90vh;
    margin: auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden ;
}
.formulario_usuario_campos,.imagenes_precentacion{
    width: 50%;
    padding: 0;
    overflow:hidden ;
}
.imagenes_precentacion{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_principal_add_usuario{
    height: 100%;
}
.imagen_escritorio{
    height: auto;
    width: 100%;
}
.form_usuarios_datos{
    width: 100%;
    height: 100%;
    display: block;
}
.form_usuarios_datos label {
    width: 100%;
    margin: 5px;
}
.datos_personales{
    padding: 20px;
}
.datos_personales label{
    margin-top: 25px;
}
.datos_personales input{
    width: 80%;
    min-width: 200px;
    height: 30px;
    border: none;
}
.formulario_genero{
    padding: 20px;
    border-bottom: 1px solid #2E465B;
}
.formulario_genero input{
    margin-top: 25px;
}
.botones_formulrio{
    display: flex;
    justify-content: right;
}
.botones_formulrio input{
    margin: 10px;
    height: 35px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0.1, 0.1, 0.2);
    cursor: pointer;
}
.imagen_escritorio{
    height: 92vh;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -5px;
}
.imagenlogo{
    z-index: 1;
    position: absolute;
}
.boton_aceptar{
    background-color: #2E465B;
    color: white;
}
.input_icono{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E465B;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}
.cuadricula_iconos{
    padding-right: 5px;
    border-right: 2px solid #E11F33;
    
}
.input_icono input{
    width: 300px;
    border: none;
    background: none;
    margin-left: 5px;
    color: white;
}
