
        body{
            margin: 0;
            padding: 0;
        }
        .body_principal{
            height: 100vh;
            width: 100vw;
            margin: 0;
            padding: 0;
        }
        .header{
            height: 70px;
            background-color: #334659;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .header_auto{
            width: fit-content;
            /* background-color: blue; */
            padding: 10px;
            color: white;
            max-height: 100%;
        }
        .contendor1{
            display: flex;
            width: 100%;
        }
        .menu{
            width: 300px;
            height: calc(100vh - 70px);
            background-color: #334659;
        }
        .cantidad{
            padding: 5px;
            background-color: orange;
        }
        .tabla_usuarios{
            width:calc(100% - 300px);
            min-width: 600px;
        }
        .etiqueta{
            padding: 5px;
        }
        .header_tabler{
            background-color: #cd3739;
        }
        .tabla_usuarios{
            width: 100%;
            border-collapse: collapse;
        }
        .header_tabler th{
            color: white;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 2px solid #334659;
        }
        .contenido_tabla{
            border-left: 2px solid #334659;
            border-right: 2px solid #334659;
        }
        .contenido_tabla td{
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: 2px solid #334659;
        }
        .btn_agregar_contacto{
            background-color: #cd3739;
            color: white;
            border: none;
            cursor: pointer;
        }
        .elementos_mostrar{
            width: 35px;
            background-color: #cd3739;
            border: none;
            color: white;
            text-align: center;
        }
        .centrar_flex{
            display: flex;
            justify-content: center;
        }
        .buscador{
            background-color: #334659;
            border: none;
            border: 1px solid white;
            margin-left: 5px;
            color: white;
        }
        .marcador_rol, .cantidad{
            padding: 3px;
            background-color: #cd3739;
            width: fit-content;
            margin: auto;
            border-radius: 5px;
        }
        .cantidad{
            min-width: 15px;
            text-align: center;
            margin-left: 4px;
        }
        .etiqueta{
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .opcion{
            color: white;
            border: #cd3739;
            background: none;
        }
        .logo{
            height:auto;
            width: 200px;
        }
        .centrarImg{
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }
        .iconos{
            width: auto;
            height: 15px;
        }
        .action-buttons{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .boton_icono{
            background: none;
            border: none;
            cursor: pointer;
        }
