
        @font-face {
            font-family: 'FuenteMundial';
            src: url('../recursos/Mundial_Fonts/Fontspring-DEMO-1-mundial-hair-tty.otf') format('woff2')
          }
        body{
            font-family: 'FuenteMundial';
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .form-container {
            border: 1px solid #ddd;
            padding: 20px;
            border: none;
        }
        .form-container h2 {
            margin-top: 0;
            width: 100%;
            text-align: center;
        }
        .form-container h3 {
            margin-top: 0;
            width: 100%;
            text-align: center;
        }
        .form-container label {
            display: block;
            width: 100%;
        }
        .form-container input[type="text"],
        .form-container input[type="password"] {
            width: 100%;
            padding: 8px;
            border: none;
            background-color: #2E465B;
            height: 25px;
        }
        .form-container input[type="checkbox"] {
            margin-right: 10px;
        }
        .form-container input[type="submit"] {
            background-color: #cd3739;
            border: none;
            padding: 10px 20px;
            border-radius: 4px;
            cursor: pointer;
        }
        .form-container input[type="submit"]:hover {
            background-color: #cd3739;
        }
        .centrar_formulario{
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
        .formulario_login{
            width: 100%;
            max-width: 500px;
        }
        .logo_login{
            width: 300px;
            height: auto;
            margin-bottom: 15px;
        }
        .contrasenia_opcion{
            display: flex;
            width: 100%;
            margin-top: 15px;
        }
        .text_contrasenia{
            width: 100px;
        }
        .text_opcion{
            width: calc(100% - 100px);
            text-align: right;
            color: red;
        }
        .opcion_ecordarme{
            margin-top: 15px;
           
        }
        .checkbox_recordar_session{
            background-color: none;
        }
        
        
